@font-face {
  font-family: "Outfit";
  src: url("/fonts/Outfit-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

/**
 * Advans Group colors
 * -------------------------------------------------------------------------- */
:root {
  /* Theme colors override */
  --color-primary-500: #1a3ba4;
  --color-primary-800: #0f1640;
  --color-primary-900: #020930;
  --color-accent: #ffad0e;
  --color-gray-50: #f2f6f7;
  --color-gray-100: #e6eced;
  --color-gray-200: #c3cfd4;
  --color-gray-400: #677b85;
  --color-gray-500: #36454f;
  --color-white-20: rgba(255, 255, 255, 0.2);
}

/**
 * Typography
 * -------------------------------------------------------------------------- */
:root {
  --vp-font-family-base: "Outfit";
}

/**
 * Colors: Text
 *
 * - `text-1`: Used for primary text.
 *
 * - `text-2`: Used for muted texts, such as "inactive menu" or "info texts".
 *
 * - `text-3`: Used for subtle texts, such as "placeholders" or "caret icon".
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-text-1: var(--color-primary-800);
  --vp-c-text-2: var(--color-gray-500);
}

.dark {
  --vp-c-text-1: var(--vp-c-white);
  --vp-c-text-2: var(--color-primary-300);
}

/**
 * Colors: Background
 *
 * - `bg`: The bg color used for main screen.
 *
 * - `bg-alt`: The alternative bg color used in places such as "sidebar",
 *   or "code block".
 *
 * - `bg-elv`: The elevated bg color. This is used at parts where it "floats",
 *   such as "dialog".
 *
 * - `bg-soft`: The bg color to slightly distinguish some components from
 *   the page. Used for things like "carbon ads" or "table".
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-bg-alt: var(--color-gray-50);
  --vp-c-bg-soft: var(--color-gray-50);
}

.dark {
  --vp-c-bg: var(--color-primary-800);
  --vp-c-bg-soft: var(--color-primary-900);
  --vp-c-bg-elv: var(--color-primary-900);
  --vp-c-bg-alt: var(--color-primary-900);
}

/**
 * Colors: Borders
 *
 * - `divider`: This is used for separators. This is used to divide sections
 *   within the same components, such as having separator on "h2" heading.
 *
 * - `border`: This is designed for borders on interactive components.
 *   For example this should be used for a button outline.
 *
 * - `gutter`: This is used to divide components in the page. For example
 *   the header and the lest of the page.
 * -------------------------------------------------------------------------- */

.dark {
  --vp-c-divider: var(--color-white-20);
  --vp-c-gutter: var(--color-white-20);
}

/**
 * Colors: Function
 *
 * - `default`: The color used purely for subtle indication without any
 *   special meanings attached to it such as bg color for menu hover state.
 *
 * - `brand`: Used for primary brand colors, such as link text, button with
 *   brand theme, etc.
 *
 * - `tip`: Used to indicate useful information. The default theme uses the
 *   brand color for this by default.
 *
 * - `warning`: Used to indicate warning to the users. Used in custom
 *   container, badges, etc.
 *
 * - `danger`: Used to show error, or dangerous message to the users. Used
 *   in custom container, badges, etc.
 *
 * To understand the scaling system, refer to "Colors: Palette" section.
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-brand-1: var(--color-primary-500);
  --vp-c-brand-2: var(--color-primary-500);

  --vp-c-tip-1: var(--color-primary-500);
  --vp-c-tip-2: var(--color-primary-500);

  --vp-c-note-1: var(--color-primary-500);
  --vp-c-success-1: var(--color-primary-500);
  --vp-c-important-1: var(--color-primary-500);
  --vp-c-warning-1: var(--color-primary-500);
  --vp-c-danger-1: var(--color-primary-500);
  --vp-c-caution-1: var(--color-pimary-500);

  --vp-c-default-soft: rgba(242, 246, 247, 0.3);

  --vp-c-tip-soft: rgba(59, 137, 246, 0.4);

  --vp-c-success-soft: rgba(52, 211, 153, 0.6);

  --vp-c-warning-soft: rgba(245, 158, 11, 0.4);

  --vp-c-danger-soft: rgba(248, 113, 113, 0.4);
}

.dark {
  --vp-c-brand-1: var(--color-accent);
  --vp-c-brand-2: var(--color-accent);

  --vp-c-tip-1: var(--color-accent);
  --vp-c-tip-2: var(--color-accent);
}

/**
 * Component: Code
 * -------------------------------------------------------------------------- */

:root {
  --vp-code-bg: var(--vp-c-bg-alt);
  --vp-code-color: var(--color-gray-500);

  --vp-custom-block-info-bg: var(--color-gray-50);
  --vp-custom-block-info-code-bg: var(--color-gray-100);
}

.custom-block.info code {
  color: var(--color-gray-500);
}

.custom-block.tip code {
  color: var(--color-gray-500);
}

.custom-block.warning code {
  color: var(--color-gray-500);
}

.custom-block.danger code {
  color: var(--color-gray-500);
}

.dark {
  .custom-block.tip code {
    color: var(--vp-c-white);
  }

  .custom-block.warning code {
    color: var(--vp-c-white);
  }

  .custom-block.danger code {
    color: var(--vp-c-white);
  }

  --vp-code-color: var(--color-gray-200);
  --vp-custom-block-info-code-bg: rgba(230, 236, 237, 0.5);
  --vp-custom-block-info-bg: rgba(242, 246, 247, 0.4);
}
