@font-face {
  font-family: "Outfit";
  src: url(/fonts/Outfit.ttf) format("truetype");
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

button.copy {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='rgb(171, 177, 194)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24'%3E%3Crect width='8' height='4' x='8' y='2' rx='1' ry='1'/%3E%3Cpath d='M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2'/%3E%3C/svg%3E") !important;
}

:root {
  /* Font family override */
  --vp-font-family-base: "Outfit";
  --vp-font-family-mono: "Outfit";

  /* Theme colors override */
  --color-primary-900: #192454;
  --color-primary-950: #020930;
  --color-accent: #ffad0e;
  --color-accent-300: #ffc861;
  --color-gray-800: #1c224d;
  --color-gray-700: #333a66;
  --color-gray-600: #4d557d;
  --color-gray-300: #abb1c2;
  --color-white: #ffffff;

  --vp-c-brand-1: var(--color-accent);
  --vp-c-brand-2: var(--color-accent-300);
  --vp-c-tip-2: var(--color-accent-300);

  --vp-c-bg: var(--color-white);
  --vp-c-bg-soft: var(--color-white);
  --vp-c-text-1: var(--color-primary-900);
  --vp-c-gutter: var(--color-white);
  --vp-c-text-2: var(--color-gray-600);
  --vp-c-border: var(--color-white);
  --vp-custom-block-warning-text: var(--color-white);
  --vp-sidebar-bg-color: var(--color-white);
  --vp-custom-block-info-text: var(--color-white);
  --vp-code-block-bg: var(--color-primary-950);

  --vp-c-bg-alt: var(--color-white);
  --vp-c-bg-elv: var(--color-white);
  --vp-custom-block-warning-bg: #ff6467;
  --vp-code-lang-color: var(--color-gray-300);
  --vp-code-bg: var(--color-primary-950);
  --vp-custom-block-info-bg: var(--color-primary-950);
  --vp-code-copy-code-border-color: var(--color-gray-300);
  --vp-code-copy-code-active-text: var(--color-gray-300);
  --vp-code-copy-code-bg: var(--color-primary-950);
  --vp-code-copy-code-hover-bg: var(--color-primary-900);
  --vp-c-warning-1: var(--color-primary-950);
  --vp-c-warning-2: var(--color-accent-300);
}

.dark {
  --vp-c-bg: var(--color-primary-900);
  --vp-c-bg-soft: var(--color-primary-950);
  --vp-custom-block-tip-bg: var(--color-primary-950);
  --vp-c-text-1: var(--color-white);
  --vp-c-gutter: var(--color-primary-900);
  --vp-c-text-2: var(--color-gray-300);
  --vp-c-border: var(--color-gray-300);
  --vp-sidebar-bg-color: var(--color-primary-950);
  --vp-custom-block-info-text: var(--color-white);
  --vp-c-bg-elv: var(--color-primary-950);
  --vp-c-divider: var(--color-gray-300);
}
