name: Documentation

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: write

concurrency:
  group: pages
  cancel-in-progress: false

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Needed for lastUpdated vitepress feature
      - uses: pnpm/action-setup@v3
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: pnpm
      - name: Setup Pages
        uses: actions/configure-pages@v4
      - name: Install dependencies
        run: pnpm install --filter docs
      - name: Build with VitePress
        run: pnpm build:docs
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        # Only upload artifact when pushing to main
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        with:
          name: docs
          retention-days: 1
          path: docs/.vitepress/docs

  publish:
    name: Publish
    needs: build
    runs-on: ubuntu-latest
    # Only deploy when pushing to main
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Needed to commit and push
          ref: gh-pages
      - name: Clean existing docs
        run: |
          if [ -d docs ]; then
            rm -rf docs
          fi
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: docs
          path: docs
      - name: Commit and push docs
        uses: actions-js/push@v1.5
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          message: "docs: autopublish ${date}"
          directory: docs
